<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Collabo-Draw</title>
<meta name="description" content="">

<link rel="stylesheet" href="styles/page.css">
<link rel="stylesheet" href="styles/header.css">
<link rel="stylesheet" href="styles/body.css">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Pangolin&display=swap" rel="stylesheet"> 