<div id="optionsMenu">
    <div id="colorPickerDiv">
        <h5>Color:</h5>
    </div>
    <div id="radiusSliderDiv">
        <h5>Brush Size:</h5>
    </div>
    <div id="eraserDiv">
    </div>
</div>
<script src="js/sketch.js"></script>