<div class="sketchDiv">
    <div id="sketch"></div> 
    <div id="optionsMenu">
        <div id="roomNameDiv">
            You are in room: <%= roomName %>
        </div>
        <div id="colorPickerDiv">
            <h5>Color:</h5>
        </div>
        <div id="radiusSliderDiv">
            <h5>Brush Size:</h5>
        </div>
        <div id="eraserDiv">
        </div>
    </div>
</div>
