<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <%- include("../partials/indexIncludes") %>
    </head>
    <body class="container">
        <%- include("../partials/createRoom")  %>
    </body>
</html>