<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <%- include("../partials/sketchRoomIncludes") %>
    </head>
    <body class="container">
        <div id="roomNameDiv">
            <%= roomName %>
        </div>
        <%- include("../partials/sketchRoomBody")  %>
    </body>
</html>